@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic);

body {
    font-family: "DM Sans", sans-serif;
}

.grid-parent {
    img {
        max-width: unset !important;
    }
}
main {
    img {
        max-width: 100%;
    }
}

// layout

section {
    padding-top: 64px;
    padding-bottom: 64px;
}

.main-container {
    width: 80%;
    max-width: 1536px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

// texts

.main-paragraph {
    font-size: 18px;
    line-height: 200%;
    color: #02073e;
    font-weight: 400;
}

.main-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 188%;
    color: #343d48;
}

.title-xs {
    // p title
    font-size: 14px;
    line-height: 1rem;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 13px;
    color: #02073e;
    font-weight: 500;
}

.title-xl {
    // h2
    font-size: 44px;
    line-height: 136%;
    font-weight: 700;
    color: #0f2137;
    letter-spacing: -1.5px;
}
.title-lg {
    // h3
    font-size: 30px;
    font-weight: 700;
    line-height: 183%;
    letter-spacing: -1.5px;
    text-align: center;
    color: #0f2137;
}
.title-md {
    // h5
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.55px;
    color: #0f2137;
    line-height: 28px;
    margin-bottom: 6px;
}
.title-sm {
    // h6
    font-size: 18px;
    font-weight: 700;
    line-height: 167%;
    margin-bottom: 10px;
    color: #0f2137;
}
@media (max-width: 1024px) {
    .main-container {
        width: 94%;
    }
    .title-xl {
        font-size: 25px;
    }
}

// Buttons started

button {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.16px;
    padding: 10px 18px;
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid transparent;
    min-width: 146px !important;
}

.btn-white {
    background: #fff;
    color: #020718;
}

.btn-blue {
    background: #02073e;
    color: #fff;
}

.btn-blue:hover {
    background: #070d5e;
}

.btn-white:hover {
    background: rgb(236, 233, 233);
}
// buttons end

::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #02073e;
}

// anchor hover animation
.underline-animation {
    display: inline-block;
    position: relative;
}

.underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.01rem;
    bottom: 0;
    left: 0;
    background: #02073e;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

// Accordion

// Accordion

.accordion__contentBox {
    border: 1px solid #edeff2;
    padding: 18px 30px;
    margin-bottom: 10px;
    cursor: pointer;
    max-width: 752px;
    border-radius: 5px;
    .accordion__label {
        display: flex;
        align-items: center;
        gap: 14px;
        position: relative;
        .accordion__icon {
            width: 30px;
            height: auto;
        }
        .imgBox {
            position: absolute;
            right: 0;
            transition: 0.3s;
        }
        .accordion__title {
            position: relative;
            font-weight: 500;
            margin-bottom: 0;
            text-align: left;
            font-size: 18px;
            line-height: 167%;
            letter-spacing: -0.5px;
            color: #0f2137;
            padding-right: 20px;
        }
    }
    .accordion__content {
        position: relative;
        height: 0;
        transition: 0.5s;
        overflow: hidden;
    }
}

// Swiper
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-grid-column > .swiper-wrapper {
    flex-direction: column;
    flex-wrap: nowrap !important;
}

.swiper-grid > .swiper-wrapper {
    flex-wrap: nowrap !important;
}

.swiper-grid-column > .swiper-wrapper {
    flex-direction: row !important;
}

.grid-parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px 100px;
    grid-gap: 30px;
    grid-auto-flow: dense;
    .grid-container {
        &__item {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            &:hover &__img {
                transform: scale(1.5);
            }
        }

        grid-column: span 2;

        &:nth-child(1) {
            grid-row: span 5;
        }
        &:nth-child(2) {
            grid-row: span 2;
        }
        &:nth-child(3) {
            grid-row: span 2;
        }
        &:nth-child(4) {
            grid-row: span 3;
        }
        &:nth-child(5) {
            grid-row: span 2;
        }
        &__img-container {
            width: 100%;
            height: auto;
            border-radius: 5px;
            overflow: hidden;
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    border-radius: 5px;
                    background: linear-gradient(1.15deg, #020718 0.72%, rgba(255, 255, 255, 0) 41.15%);
                    opacity: 0.7;
                }
            }
        &__img {
            width: 100%;
            height: 130%;
            cursor: pointer;
            transition: 0.5s ease-in-out;
        }
        &__description {
            position: absolute;
            font-weight: 700;
            font-size: 18px;
            line-height: 167%;
            letter-spacing: -0.5px;
            color: #fff;
            bottom: 20px;
            left: 30px;
            right: 30px;
            z-index: 2;
        }
    }
}

@media (max-width: 900px) {
    .grid-parent {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width:500px) and (max-width: 1470px) {
    .grid-parent {
        .grid-container__img {
            width: 180% !important;
        }
    }
}

@media (max-width: 500px) {
    .grid-parent {
        grid-template-columns: repeat(1, 1fr);
    }
}



.accordion__contentBox.active .accordion__content {
    height: 200px;
    padding-top: 20px;
}

.accordion__contentBox.active .accordion__content.browser {
    height: 429px;
}

.accordion__contentBox.active .imgBox {
    transform: rotate(90deg);
}

// Responsive menu
.mobile-burger {
    background-image: url("../img/burger.png");
}
.mobile-burger.active {
    background-image: url("../img/close-burger.png");
}

.mobile-menu.active {
    left: 0 !important;
}
.menu {
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 16px;
        font-weight: 100;
        margin-top: 8px;
        color: #02073e;
    }
    &__link {
        text-decoration: none;
        color: #02073e;
        transition: all 0.3s;
        &:hover {
            color: #02073e;
        }
    }
    &__acc-item {
        padding: 12px 28px 12px 8px;
        transition: all 0.3s;
        cursor: pointer;
        font-size: 14px;
        color: #02073e;
        &:hover {
            background: rgb(241, 245, 249);
        }
    }
}

// Dropdown
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.main {
    .select-selected {
        font-size: 14px;
        font-family: inherit;
    }
}

.select-selected {
    &:hover {
        color: #02073e;
    }
    &:hover .select-selected:after {
        border-color: #02073e transparent transparent transparent;
    }
}
/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 10px;
    right: 10px;
    width: 0;
    height: 0;
    transform: rotate(0);
    transition: all 0.3s;
    border: 6px solid transparent;
    border-color: #02073e transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    top: 4px;
    transform: rotate(180deg);
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: #02073e;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
}
.select-items div {
    padding: 5px;
}
/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

//  Plans Tab
.plans {
    .tab-btn.active {
        background-color: #fff;
        box-shadow: 0px 4px 4px rgba(59, 79, 109, 0.08);
    }
    .tab-body {
        position: relative;
        top: -200%;
        transition: opacity 0.3s ease-in-out 0ms, transform 0.3s ease-in-out 0ms;
        opacity: 0;
        margin-top: 40px;
        z-index: 10;
    }
    .tab-body.active {
        position: absolute;
        top: 0;
        opacity: 1;
        transition-delay: 0.35s;
        z-index: 20;
    }
    &__wrapper {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
        .plans__box {
            background-color: #fff;
            max-width: 480px;
            min-width: 300px;
            transition: all 0.3s;
            border-radius: 10px;
            border: 1px solid #e0e2e4;
            &-about {
                padding: 56px 60px 50px 38px;
                h5 {
                    margin-bottom: 48px;
                    color: #343d48;
                }
                ul {
                    margin-bottom: 50px;
                    li {
                        margin-bottom: 30px;
                        display: flex;
                        align-items: start;
                        color: #343d48;
                        img {
                            margin-right: 13px;
                        }
                    }
                    li.deny {
                        opacity: 0.5;
                    }
                }
            }
            .plans__price {
                background-color: #f8f8fa;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 36px 61px 41px 50px;
                transition: 0.3s;
                div {
                    p {
                        &:nth-child(1) {
                            color: #343d48;
                            font-size: 16px;
                            font-weight: 500;
                            opacity: 0.6;
                        }
                        &:nth-child(2) {
                            color: #8d448b;
                            font-size: 26px;
                            letter-spacing: -0.55px;
                        }
                    }
                }
            }
        }
    }
}

// Big tab | Browser tab
.browser-tab {
    &__content {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(1, 7, 13, 0.1);
        transition: all 0.3s;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 36px;
        cursor: pointer;
        gap: 15px;
        img {
            filter: grayscale(70%);
            opacity: 0.2;
            width: 30px;
            height: auto;
        }
    }
    &__content.active {
        padding-bottom: 34px;
        filter: grayscale(0);
        opacity: 1;
        border-bottom-width: 3px;
        border-color: #01070d;
    }
    &__content.active img {
        opacity: 1;
        filter: grayscale(0);
    }

    .tab-body {
        position: relative;
        top: -200%;
        transition: opacity 0.3s ease-in-out 0ms, transform 0.3s ease-in-out 0ms;
        opacity: 0;
        margin-top: 40px;
        z-index: 10;
    }
    .tab-body.active {
        position: absolute;
        top: 0;
        opacity: 1;
        transition-delay: 0.35s;
        z-index: 20;
    }
    .browser-tab__body {
        width: 100%;
        img {
            position: relative;
            z-index: 20 !important;
            border-radius: 5px;
            margin: 0 auto;
            box-shadow: 0px 8px 24px rgba(53, 95, 158, 0.1);
        }
    }
}

.footer-menu {
    gap: 30px;
    .menu__item,
    .menu__link {
        color: #fff;
    }
    .underline-animation::after {
        background-color: #fff;
    }
}

.logoName-2 {
    display: none;
}

.learn_more {
    &:hover img {
        position: relative;
        animation: right 0.5s ease-out infinite;
    }
}

@keyframes right {
    0% {
        left: 0;
    }
    50% {
        left: 5px;
    }
    100% {
        left: 0;
    }
}

@media (max-width: 460px) {
    .text-base {
        font-size: 10px !important;
    }
    .title-md {
        font-size: 14px;
    }
    .main-paragraph {
        font-size: 12px;
    }
    .main-description {
        font-size: 12px;
    }
    nav {
        .logoName-1 {
            display: none;
        }
        .logoName-2 {
            display: block;
        }
    }
}

@media (min-width: 1440px) {
    .title-xl {
        font-size: 48px !important;
    }
    .footer-text {
        font-size: 36px !important;
    }
}
